:root {
  --white: #fff;
  --black: #000;
  --yellow: #ffee06;
  --raleway: "Raleway", sans-serif;
  --source-sans: "Source Sans Pro", sans-serif;
  --regular: 400;
  --semibold: 600;
  --bold: 700;
}

#acme_logo {
  width: 30px;
  height: 24px;
}

button.main-nav-toggle {
  background: var(--yellow);
}

.home-page-hero-image {
  opacity: 1;
}

.home-page-hero-heading {
  letter-spacing: 0;
  text-align: left;
  font-family: var(--raleway);
  font-weight: var(--bold);
  font-size: 3.5rem;
  text-transform: uppercase;
}

.home-page-hero-subheading {
  letter-spacing: 0;
  text-align: left;
  font-family: var(--source-sans);
  font-weight: var(--normal);
  font-size: 1.3rem;
}